POSTMARK_SERVER_TOKEN=your-postmark-server-token
POSTMARK_SENDER_EMAIL=greetings@te1.lucyscircle.ca
POSTMARK_RECIPIENT_EMAIL=eduardocarlosgarza@gmail.com
POSTMARK_MESSAGE_STREAM=outbound
WELCOME_FIRST_NAME=Lucy
WELCOME_LAST_NAME=Circle
WELCOME_APP_URL=https://lucyscircle.ca
